# Application Configuration
NODE_ENV=development
APP_NAME=NestJS API
APP_PORT=3005

# Database Configuration
DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=vqz_integral_db

# Bcrypt Configuration
BCRYPT_SALT_ROUNDS=10

# JWT Configuration
JWT_SECRET=your-jwt-secret-key
JWT_EXPIRES_IN=1d

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback