NODE_ENV=DEVELOPMENT

APP_NAME=app-name
APP_PORT=3000

# Database configuration for development environment
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=db_user
DB_PASSWORD=db_pass
DB_NAME=db_name

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# JWT configuration for development environment
JWT_SECRET=dev_jwt_secret
JWT_EXPIRES_IN=1h
